@import './base.css';

#app {
  width: 100%;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgba(221, 126, 126, 0.615);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }
}
